.project-row {
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-border);
}

h4 {
  font-weight: 500;
  margin-bottom: 16px;
}

.month-inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

mat-dialog-content {
  min-width: 500px;
}
