<div class="dashboard-container">
  <h2>Dashboard</h2>

  <div class="dashboard-panels">
    <app-suggestions></app-suggestions>
    <app-today-focus></app-today-focus>
  </div>

  @if (projects().length > 0) {
  <div class="project-cards-container">
    @for (project of projects(); track project.id) {
    <mat-card
      class="project-card"
      [class.over-paced]="project.balance >= 0"
      [class.under-paced]="project.balance < 0"
    >
      <mat-card-header>
        <mat-card-title>{{ project.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="project-stats">
          <span>Allocated: {{ project.target_hours }} hrs</span>
          <span>Logged: {{ project.loggedHours }} hrs</span>
        </div>

        <mat-progress-bar
          mode="determinate"
          [value]="(project.loggedHours / project.target_hours) * 100"
        >
        </mat-progress-bar>

        <div class="balance-container">
          <h3>Balance:</h3>
          <span class="balance-value">{{ project.balance }} hrs</span>
        </div>
      </mat-card-content>
    </mat-card>
    }
  </div>
  } @else {
  <p class="no-projects-message">
    No active projects found. Go to the Projects page to add new ones.
  </p>
  }
</div>
