<mat-toolbar color="primary">
  @if (isHandset) {
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  }
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="themeService.toggleTheme()">
    <mat-icon>{{
      themeService.isDarkTheme() ? "dark_mode" : "light_mode"
    }}</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="!isHandset"
  >
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/dashboard"
        routerLinkActive="active"
        (click)="isHandset ? sidenav.close() : null"
      >
        <mat-icon>dashboard</mat-icon>
        @if (!isHandset) {
        <span>Dashboard</span>
        }
      </a>
      <a
        mat-list-item
        routerLink="/projects"
        routerLinkActive="active"
        (click)="isHandset ? sidenav.close() : null"
      >
        <mat-icon>assignment</mat-icon>
        @if (!isHandset) {
        <span>Projects</span>
        }
      </a>
      <a
        mat-list-item
        routerLink="/settings"
        routerLinkActive="active"
        (click)="isHandset ? sidenav.close() : null"
      >
        <mat-icon>settings</mat-icon>
        @if (!isHandset) {
        <span>Settings</span>
        }
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
